@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

body {
    background: #f1f2f6;
    font-family: "Major Mono Display", monospace;
}

h1 {
    text-align: center;
    align-content: center;
    margin-top: 10%;
}

.heartBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heart {
    background-color: #e74c3c;
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: pulsate 1s infinite;
    animation: heartbeat 2s infinite;
    box-shadow: 0 2px 55px #e74c3c;
}

.heart::before,
.heart::after {
    display: inline-block;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 2px 55px #e74c3c;
}

.heart::before {
    top: 0px;
    left: -65px;
}

.heart::after {
    top: -65px;
    left: -0px;
}

@keyframes heartbeat {
    0% {
        -webkit-transform: rotate(45deg) scale(0.8);
    }
    5% {
        -webkit-transform: rotate(45deg) scale(0.9);
    }
    10% {
        -webkit-transform: rotate(45deg) scale(0.8);
    }
    15% {
        -webkit-transform: rotate(45deg) scale(1);
    }
    25% {
        -webkit-transform: rotate(45deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(45deg) scale(0.9);
    }
    100% {
        -webkit-transform: rotate(45deg) scale(0.8);
    }
}

@-webkit-keyframes heartbeat {
    0% {
        -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
    }
    5% {
        -webkit-transform: rotate(45deg) scale(0.9);
            transform: rotate(45deg) scale(0.9);
    }
    10% {
        -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
    }
    15% {
        -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
    }
    100% {
        -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
    }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
        ransform: rotate(45deg) scale(0.8);
        transform: rotate(45deg) scale(0.8);
  }
  5% {
    -webkit-transform: rotate(45deg) scale(0.9);
        transform: rotate(45deg) scale(0.9);
  }
  10% {
    -webkit-transform: rotate(45deg) scale(0.8);
        transform: rotate(45deg) scale(0.8);
  }
  15% {
    -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(0.8);
        transform: rotate(45deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
        transform: rotate(45deg) scale(0.8);
  }
}
